<router-outlet></router-outlet>
<div class="escritorio grid-layout">
    <div class="games caja">
        <a href="/games">
            <img src="../../../assets/gamesfolder.PNG" alt="carpeta de juegos" class="juegos">
            <p id="j-label">Juegos</p>
        </a>
    </div>
    <div class="about caja">
        <a href="/about">
            <img src="../../../assets/about us.png" alt="sobre nosotros" class="sobre-nosotros">
            <p class="about-label">Sobre el creador</p>
        </a>
    </div>
</div>




